

.ParallaxContainer {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  padding-left: 250px;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.ContentContainer {
  display: flex;
  position: relative;
  background-color: white;
  z-index: 1;
}
body{	
	height: 100%;
width: 100%;
	background-image: url("back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.logo{
    width: 60px;
    height: 30px;
    padding-top: 15px;
    padding-left: 65px;
    padding-bottom: 150px;
    padding-right: 2px;
}
.background{
	width: 100%;
	padding-left: 5px;
	height: 100%;
	background-image: url("back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: space-around;
	margin-bottom: 2px;
	padding-bottom: 5px;
background-attachment: fixed;
 perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.nav{
	width: 350px;
	height: auto;
	background-color: #333333;
	position: absolute;
	margin-top: 110px;
	padding-top: 2px;
	padding-bottom: 3px;
	left: 0%;
	box-shadow: 10px 10px 20px;
	background-size: cover;
	
	background-attachment: fixed;
}
.nav a{
	text-decoration: none;
	font-size: 18px;
	border-radius: 5px;
	font-family: verdana;
	font-weight: bold;
	width: 80%;
	height: 70px;
	margin-top: 4px;
	float: left;
	display: inline-block;
	background-color: black;
	color: white;
	line-height: 60px;
	text-align: center;
	transition: 300ms;


}
a:active{
	background-color: white;
	color: black;
	box-shadow: 0 2px 2px #999;
	 transform: translateY(2px);
}
.nav a:hover{
	background-color: white;
	color: black;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 5px 5px #999;

}
.a{
	width: 95%;
}
.b{
	width: 90%;
}

}


.c{
	width: 85%;
}

.d{
	width: 80%;
}

.e{
	width: 75%;
}
.h3{
	text-align: center;
	padding-right: 500px;
}
.f{
	width: 70%;
}


 .ContentContainer footer{
 
 	background-color:gray;
 	text-align: center;
 	font-size: 22px;
 	font-color:white;
 	padding-top: 5px;
 	padding-bottom: 30px; 
 	margin-top:530px;	
 	width:100%;
 	background-attachment: fixed;
 	background-position: 
 	

}
h2{
	text-align:center;
}

.person{
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
	padding-right: 100px;
	padding-left: 300px;
	color:white;

}
.person ul li{
	list-style: none;
}
.pp{
	padding-left: 30px;
}
footer{
 	position: absolute;
 	background-color:gray;
 	text-align: center;
 	font-size: 22px;
 	font-color:black;
 	padding-top: 5px;
 	padding-bottom: 3px; 
 	margin-top:5px;	
 	width:100%;
 	
 	

}