
html, body{
	width: 100%;
	height: 100%;
	font-size: 32px;
	font-weight: normal;
	color: #fff;
}

.logo{
    width: 60px;
    height: 30px;
    padding-top: 15px;
    padding-bottom: 2px;
    padding-right: 2px;
}
.background{
	width: 100%;
	padding-left: 5px;
	height: 100%;
	background-image: url("back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 2px;
	padding-bottom: 5px;
}

.nav{
	width: 350px;
	height: auto;
	display: flex;
	background-color: #333333;
	position: absolute;
	top: 25%;
	left: 0%;
	box-shadow: 10px 10px 20px;

}
.nav a{
	text-decoration: none;
	font-size: 18px;
	border-radius: 5px;
	font-family: verdana;
	font-weight: bold;
	width: 80%;
	height: 70px;
	margin: 4px 0;
	display: flex;
	display: inline-block;
	background-color: black;
	color: white;
	line-height: 60px;
	text-align: center;
	transition: 300ms;

}
a:active{
	background-color: white;
	color: black;
	box-shadow: 0 2px 2px #999;
	 transform: translateY(2px);
}
.nav a:hover{
	background-color: white;
	color: black;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 5px 5px #999;

}
.a{
	width: 95%;
}
.b{
	width: 90%;
}
.img{
  max-width:720px;.
  max-height:90px;
  padding-left: 300px;
  padding-top: 5px;
  text-align: center;
  

}

.container{
	text-decoration: none;
	font-size: 24px;
	padding-left: 30px;

}
.c{
	width: 85%;
}
.map{
	text-align: left;
	padding-right:10px;
	padding-left:150px;
	padding-bottom :3px;
	margin-left: 5px;
	margin-top:0px;
	border: 0px;
	width:400px;
	 height:300px;
	   border:0px;
}
.d{
	width: 80%;
}
.pic{
	padding-top: 5px;
	max-height: 490px;
	max-width: 720px;
    padding-right: 40px;
    padding-left: 350px;
	text-align: center;

}
.e{
	width: 75%;
}
.h3{
	text-align: center;
	padding-right: 500px;
}
.f{
	width: 70%;
}

.description{
	padding-top: 250px;
	padding-left: 300px;
	width:800px;
	
	font-size: 28px;
}	
 footer{
 	position: absolute;
 	background-color:gray;
 	text-align: center;
 	font-size: 22px;
 	font-color:black;
 	padding-top: 5px;
 	padding-bottom: 3px; 
 	margin-top:5px;	
 	width:100%;
 	
 	

}
.social{
	margin: 50px 50px 50px 200px;
}
.social ul{
	padding-bottom:5px;
	list-style: none;

}
.social ul li a:hover{
	background-color: green;
}
.para{
	font-size: 20px;
	font-color:white;
	text-align: left;

	padding-right: 400px;
	text-decoration: none;
	margin-left: -750px;
	margin-top: 35%;
}
.person{
	text-align: center;
	font-size: 16px;
	padding-top: 200px;
	padding-right: 100px;
	padding-left: 20px;
}
.table{
	
	font-size: 16px;
	padding-top:200px;
	padding-left: 0px;
	padding-right: 200px;
}
@media screen and (max-width: 600px)
{

	.background
	{
		flex-direction: column;
		width: 100%;
		background-color: black
	}
	.para
	{
		width: 100%;
		padding-right: 0px;
		margin-left: -10px;
	}

	article {
		margin-top: 500px;
	}
	article h1, p {
		color: black;
	}
}